@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway','Montserrat', 'Lacquer';
}

body{
  overflow-x: hidden;
  background-color: #000;
}
body::-webkit-scrollbar{
  display: block;
  width:5px;
  background-color:black;
}
body::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;
}
/* .loader{
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  color: rebeccapurple;
  font-size: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all ease 1s;
} */
#draw
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.message{
  display: none;
}
.HomePage{
  position: fixed;
  /* position: absolute; */
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  color: white;
  
}
.leftbox
{
  height: 100%;
  width: 50%;
  margin: 0px 5vw ;
  color: rgba(234, 230, 230, 0.945);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  /* background-color: gray; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

}
.buttons
{
  display: flex;
  align-items: end;
  /* background-color: aqua; */
  gap: 1.5rem;
}
#bottone1 {
  margin-top: 30px;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 9px;
  background: #ffffff;
  color: #000;
  border: none;
  /* font-family: inherit; */
  text-align: center;
  cursor: pointer;
  transition: 0.4s;

 }
 #bottone1:hover {
  box-shadow: 7px 5px 56px -5px #ffffff;
 }
 #bottone1:active {
  transform: scale(0.9);
  box-shadow: 7px 5px 56px -10px #ffffff;
 }
 #bottone2 {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

#bottone2::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ffffff 0%, #ff0000 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#bottone2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffff 0%, #ff0000 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

#bottone2:hover::after {
  filter: blur(30px);
}

#bottone2:hover::before {
  transform: rotate(-180deg);
}

#bottone2:active::before {
  scale: 0.7;
}

/* rightbox  */
.rightbox
{
  /* background-color: gray; */
  width: 32%;
  padding: 0px 40px;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(234, 230, 230, 0.945);
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: center;
  /* background-color: transparent; */
}
.rightbox p
{
  /* background-color: gray; */
  height: 31%;
  width: 90%;
  margin-top: 3vh;
  line-height: 1.6rem;
  font-size: 17px;
  color: rgba(207, 204, 204, 0.811);

}
.rightbox .icons
{
  /* margin-top: 1px; */
  height: 70px;
  /* background-color: #ffffff; */
  border-radius: 20px;
  display:  flex;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
}
.icons img
{
  height: 35px;
  border-radius: 8px;
  transition: all ease 0.5s;
}
.icons img:hover
{
  box-shadow: 7px 5px 56px -1px #ffffff;
  transform: rotate(-360deg) scale(1.1);
}
.icons .upwork
{
  background-color: white;
}
.scroll
{
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
  /* background-color: #f0f0f0; */
  color: white;
}
.pg1
{
  /* background-color: pink; */
  height: 900vh;
  width: 100%;
  position: relative;

}
.heading
{
  position: sticky;
  top: 8%;
  z-index: 100;
}
.heading h1{
  width: 18%;
}
.pg2, .pg3, .pg4
{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  transition: all linear 0.1s;
 
}
.imgbox
{
  height: 70%;
  width: 42%;
  /* background-color: rgb(255, 0, 0); */
  overflow: hidden;
}
.imgbox img
{
  height: 90%;
  width: 100%;
  object-fit: contain;
  /* background-color: pink; */
  object-position: left;
}
.imgbox p
{
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}
.disp
{
  height: 70%;
  width: 40%;
  color: white;

}
.disp h2{
  
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.points 
{
  width: 80%;
  /* background-color: gray; */
  margin-top: 10px;
  line-height: 1.7rem;
  font-size: 17px;
  color: rgba(207, 204, 204, 0.811);

}
.points p
{
  margin-top: 10px;
}
.pg5
{
  margin-top: 30%;
  height: 400vh;
  width: 100vw;
  display: flex;
  /* background-color: red; */
  justify-content: center;
}
.skill
{
  height: 80vh;
  width: 88%;
  /* background-color: white; */
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}
.neonText {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  width: 13%;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: flicker 1.5s ease-in-out infinite alternate ;
}
.skillbox
{
  /* background-color: white; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* align-items: center; */
  justify-content: space-evenly;
}
.skillbox img
{
  height: 50%;
  width: 50%;
  object-fit: contain;
  object-position: center;
}
.lan
{
  height: 120px;
  width: 120px;
  font-size: 1.2rem;
  /* background-color: #00fbff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation: flicker 3s ease infinite alternate ; */
  gap: 10px;
  justify-content: center;
  transition: all ease 0.5s;
}
.skill1
{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
.pg6
{
  height: 150vh;
  width: 50vw;
  /* position: relative; */
  /* background-color: red; */
  position: relative;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  display: flex;
  min-height: 150vh;
  /* background-color: #0fa; */
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  position: sticky;
  top: 25%;

}

.screen {
  position: relative;
  /* background: #3e3e3e; */
  background-color: #3e3e3e49;
  border-radius: 15px;
  border: 2px solid #3e3e3e;

}
.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-family: 'Courier New', Courier;
  font-size: 10px;
  color: #949494;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  /* text-transform: uppercase; */
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}




@media only screen and (max-width: 600px) 
{
  .HomePage,.rightbox,.scroll
  {
    display: none;
  }
  .message
  {
    color: rgb(255, 0, 0);
    display: block;
    /* background-color: red; */
    width: 100%;
    padding: 1vw 10vw;
    text-align: center;
    font-family:monospace;
    font-size:16px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  /* .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  } */
}





















/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none ;
  }    
}






